<div>
   <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/Jupyter_Notebook_Title_Screen.png" alt="Title" align="middle"/>
</div>

# Introduction
Databases often serve as the main repository for an organization's data and IBM has been a pioneer in data management technologies and advancements for decades. A crucial part of this journey has been the invention of IBM Db2, a database built to address current data management needs, as well as provide an advantage as companies begin to incorporate artificial intelligence (AI) into their workflows.

This hands-on lab is designed to do show you how to build Python applications that interact with a Db2 database, regardless of whether the database is on-premises (<b>created using IBM Db2 Community Edition</b>) or in the Cloud (<b>created under the Db2 "Lite" service on IBM Cloud</b>).

### Working with Jupyter Notebook
As you can see, this hands-on exercise is provided in the form of a <b><i>Jupyter Notebook</i></b>. If you are unfamiliar with this technology, a Jupyter Notebook is an open source web application that enables users to create and share documents that contain narrative text, live code, equations, and rich outputs such as graphical visualizations. (Jupyter Notebook is maintained by <a href="https://jupyter.org/">Project Jupyter</a>.) The name <i>Jupyter</i> comes from the core programming languages Jupyter Notebooks support: Julia, Python, and R. Jupyter ships with the IPython kernel, which enables users to write programs in Python, but there are currently over 100 other kernels that Jupyter Notebook supports.

The Jupyter Notebook framework contains several menu items and icons that enable users to interact with a notebook. The menu runs along the top of a Notebook just like menus do in other applications; the icons (buttons) are found just below the menu items. This introduction doesn't go into detail about each option available with every menu item. Instead, it focuses on just the two icons you will need to be familiar with to perform the exercises in this lab — these icons/buttons are emphasized in the following illustration:
<br><br>
<div>
    <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Menu_Mask.png" alt="Jupyter_Notebook_Menu" style="display:block; margin-left:auto; margin-right:auto; width: 70%;"/>
</div>
<br>
<ul>
   <li>
      <div style="display:inline-block; vertical-align:middle;">
      The </div>
   <div style="display:inline-block; vertical-align:middle;">
      <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Save.png" alt="Save" width="30px" align="middle"/></div>
   <div style="display:inline-block; vertical-align:middle;">
       icon (button) is used to save any changes you make to the notebook. <b>Ctrl+s</b> (<b>Command+s</b> <i>on Mac) performs the same function</i>.</div></li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        The
    </div>
    <div style="display:inline-block; vertical-align:middle;">        
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        icon (button) is used to execute the code — in our case Python — shown in a "<i>Code</i>" cell. <b>Shift+Enter</b> <i>performs the same function</i>.
    </div></li>
</ul>

If there are multiple code cells in a Notebook (as there are in this Notebook) and you run the cells in order, imports (external modules that are loaded into an application for use) and variables can be shared across cells. This makes it easy to separate out code into logical chunks without needing to reimport libraries or recreate variables or functions in each cell. (That being said, you will see some variables get recreated in each code cell in this lab — that's done to both reset the variable and to draw your attention to the variables that are used for each operation.) 

When you select a code cell, you will notice that there are some square braces (<b>[ ]</b>) beside the word <b>In</b> located at the top and just to the left of the cell. As you work your way through the Notebook, the square braces will be filled with a number that indicates the order in which each cell was ran. For example, if you run the first code cell found at the top of a Notebook, the square braces will be filled with the number <b>1</b>. If you run the next code cell found after it, the square braces beside that cell will be filled with the number <b>2</b>, and so on. While a code cell is being executed, the square braces will be filled with an asterisk (<b>*</b>).

### How this lab is organized
The exercises found in this hands-on lab are organized as follows:
<br><br>
<dl>
    <dt><b>Section 1.</b> Prepare the lab environment</dt>
    <ul>
        <dd><b>Step 1.</b> Set up the Jupyter Notebook environment</dd>
        <dd><b>Step 2.</b> Create a function that uses APIs in the ibm_db driver to execute SQL queries and retrieve/display query results</dd>
        <dd><b>Step 3.</b> Assign values to application variables that will be used to establish a database connection</dd>
    </ul>
    <dt><b>Section 2.</b> Interact with the Db2 database</dt>
    <ul>
        <dd><b>Step&ensp; 1.</b> Establish a database connection</dd>
        <dd><b>Step&ensp; 2.</b> Query the database's system catalog</dd>
        <dd><b>Step&ensp; 3.</b> Create a table named <b>AIRLINE_DELAY_CAUSE</b></dd>
        <dd><b>Step&ensp; 4.</b> Copy data from a Comma Separated Values (CSV)-formatted file to a pandas DataFrame</dd>
        <dd><b>Step&ensp; 5.</b> Copy data stored in a pandas DataFrame into the <b>AIRLINE_DELAY_CAUSE</b> table</dd>
    </ul>
    <dt><b>Section 3.</b> Clean up the lab environment</dt>
    <ul>
        <dd><b>Step 1.</b> Remove the <b>AIRLINE_DELAY_CAUSE</b> table created earlier (<i>optional</i>)</dd>
        <dd><b>Step 2.</b> Query the system catalog to confirm the <b>AIRLINE_DELAY_CAUSE</b> table has been deleted (<i>optional</i>)</dd>
        <dd><b>Step 3.</b> Terminate the database connection</dd>
    </ul>
</dl>

<div class="alert alert-block alert-info">
<b>NOTE:</b> The following conventions are used whenever the syntax for a Db2 command or SQL statement is presented:
<table style="border: 1px solid; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:bottom; padding-top:10px; padding-bottom:4px;"><b>[ ]</b></td>
        <td style="width:1%; text-align:right; vertical-align:bottom; padding-top:10px; padding-bottom:4px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:bottom; padding-top:10px; padding-bottom:4px;">Parameters or items shown inside brackets are required and <b><i>must</i></b> be provided.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:top;padding-top:0px; padding-bottom:4px;"><b>&lt; &gt;</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:4px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Parameters or items shown inside angle brackets are optional and do not have to be provided.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:top;padding-top:0px; padding-bottom:4px;"><b>|</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:4px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Vertical bars indicate that one (and only one) item in the list of items presented can be specified.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>, ...</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:10px;">A comma followed by three periods (ellipsis) indicate that multiple instances of the preceding parameter or item can be included in the Db2 command or SQL statement.</td>
    </tr>
</table>

The following example illustrates each of these conventions:

<b><i>Example:</i></b>

<b>REFRESH TABLE [ <i>TableName</i> , ... ]<br>
&emsp;&lt; INCREMENTAL | NON INCREMENTAL &gt;</b>

In this example, you must supply at least one <b><i>TableName</i></b> value, as the brackets ( <b>[ ]</b> ) indicate, and you can provide more than one <b><i>TableName</i></b> value, as the comma and ellipsis ( <b>, ...</b> ) characters that follow the <b><i>TableName</i></b> parameter suggest. <b>INCREMENTAL</b> and <b>NON INCREMENTAL</b> are optional, as the angle brackets ( <b>&lt; &gt;</b> ) signify, and you can specify either one or the other, but not both, as the vertical bar ( <b>|</b> ) indicates.
</div>

### Using IBM Db2 Community Edition with this hands-on lab
While this hands-on lab is set up to be ran with the <b>Db2 "Lite" service</b> on IBM Cloud, this Jupyter Notebook can be used with <b>IBM Db2 Community Edition</b> as well. IBM Db2 Community Edition is a special no-charge, full featured version of Db2 that enables data professionals to develop and deploy applications using any of the features and functionality found in in the latest release of IBM Db2. There are no limits on how long IBM Db2 Community Edition can be used, and unlike with the Db2 "Lite" service on IBM Cloud, there are no limits on the size of databases that can be created. However, there are limits on the number of cores and amount of memory supported: IBM Db2 Community Edition can be used with up to four processor cores and no more than 16 gigabytes (GB) of random access memory (RAM).

<div class="alert alert-block alert-warning">
    <b>IMPORTANT:</b> If you do not complete this lab in a single sitting, you must re-run all the exercises in <b>Section 1</b> and the first exercise in <b>Section 2</b> before you attempt to pick back up where you left off!
</div>

# Section 1. Prepare the lab environment

## Step 1. Set up the Jupyter Notebook environment
### Overview:
Before you can begin interacting with an IBM Db2 database using Python or Jupyter Notebook, there are some basic steps you must perform. These steps include:
<ol>
    <li>Downloading and installing the <strong>ibm_db</strong> Python database interface driver for IBM Db2, IBM Informix, IBM Db2 for iSeries (AS400) and IBM Db2 for z/OS servers.
    <li>Loading (importing) the <strong>ibm_db</strong> driver into the Python application or Jupyter Notebook.</li>
    <li>Loading any additional external Python modules needed into the Python application or Jupyter Notebook.</li> 
    <li>Defining any variables that will be used to supply information to, or obtain information from application programming interfaces (APIs) in the <strong>ibm_db</strong> driver. (These APIs are used to do things like establish a connection to a database, submit a query for execution, retrieve query results, and so forth.)</li>
</ol>

### Execute the code:
The code in the next "cell" performs all but the last of the tasks just identified — the task of defining variables will be performed, when necessary, throughout the remaining exercises in this lab.
<ol>
   <li>Select the code cell below and carefully read through the comments (i.e., the text that begins with a <b>#</b> character). This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [1]:
#----------------------------------------------------------------------------------------------#
# Set Up The Jupyter Notebook Environment                                                      #
#----------------------------------------------------------------------------------------------#

#----------------------------------------------------------------------------------------------#
# Download And Install The ibm_db Driver Package                                               #
#   NOTE: This only needs to be performed once in a runtime environment and may have already   #
#   been done. If so, it is not harmful to attempt to install the package again, as subsequent #
#   attempts will simply state that the package requirement has already been satisfied.        #
#----------------------------------------------------------------------------------------------#
print()
!python3 -m pip install ibm_db

#----------------------------------------------------------------------------------------------#
# Download And Install The pandas Driver Package                                               #
#   NOTE: This only needs to be performed once in a runtime environment and may have already   #
#   been done. If so, it is not harmful to attempt to install the package again, as subsequent #
#   attempts will simply state that the package requirement has already been satisfied.        #
#----------------------------------------------------------------------------------------------#
print()
!python3 -m pip install pandas

#----------------------------------------------------------------------------------------------#
# Load The Appropriate Python Modules                                                          #
#----------------------------------------------------------------------------------------------#
import sys                        # Provides Information About Python Interpreter Constants,
                                  # Functions, And Methods
import os                         # Provides The Ability To Interact With The Underlying
                                  # Operating System    
import types                      # Contains Type Objects For All Object Types (INTEGER, FLOAT, 
                                  # STRING, And So On) Defined By The Standard Interpreter
from io import StringIO           # Implements A File-Like Class That Reads And Writes A
                                  # String Buffer (i.e., A Memory File)
from IPython import get_ipython   # Simple Function That Can Be Called To Get The Current
                                  # Interactive Shell Instance
import pandas as pd               # Provides An Open-Source Data Analysis Library (Built On
                                  # Top Of Python) That Is Used To Work With Data
                                  # "pd" Is A Common Alias For This Library
from decimal import *             # Provides Support For Fast Correctly Rounded Decimal
                                  # Floating Point Arithmetic
import ibm_db                     # Contains The APIs Needed To Work With Db2 Databases

#----------------------------------------------------------------------------------------------#
# Define A Python Class Named ipynb_Exit()                                                     #
#----------------------------------------------------------------------------------------------#
#  CLASS NAME:  ipynb_Exit()                                                                   #
#  PURPOSE:     This class contains the programming logic needed to allow Python "exit()"      #
#               functionality to work without raising an error or stopping the Jupyter         #
#               Notebook kernel in the event the exit() function is called.                    #
#----------------------------------------------------------------------------------------------#
class ipynb_Exit(SystemExit):
    """Exit Exception for IPython. Exception Temporarily Redirects stderr To Buffer."""

    #------------------------------------------------------------------------------------------#
    #  FUNCTION NAME:  __init()__                                                              #
    #  PURPOSE:        This method initializes an instance of the ipynb_Exit class.            #
    #------------------------------------------------------------------------------------------#
    def __init__(self):
        sys.stderr = StringIO()      # Redirect sys.stderr to a StringIO (memory buffer) object.

    #------------------------------------------------------------------------------------------#
    #  FUNCTION NAME:  __del()__                                                               #
    #  PURPOSE:        This method cleans up when an instance of the ipynb_Exit class is       #
    #                  deleted.                                                                #
    #------------------------------------------------------------------------------------------#
    def __del__(self):
        sys.stderr = sys.__stderr__  # Restore sys.stderr to the original values it had at the
                                     # start of the program.

#----------------------------------------------------------------------------------------------#
# Define A Python Function Named customExit()                                                  #
#----------------------------------------------------------------------------------------------#
#  FUNCTION:  customExit()                                                                     #
#  PURPOSE:   This function is used to define a customized exit process.                       #
#----------------------------------------------------------------------------------------------#
def customExit(returnCode=0):
    if returnCode == 0:
        ipynb_Exit()
    else:
        raise ipynb_Exit

#----------------------------------------------------------------------------------------------#
# If An IPython Application (i.e., A Jupyter Notebook) Calls The "exit() Function, Call A      #
# Customized Exit Routine So The Jupyter Notebook Will Not Stop Running - Otherwise, Call The  #
# Default Exit Routine                                                                         #
#----------------------------------------------------------------------------------------------#
if get_ipython():
    exit = customExit                # Rebind To The Custom Exit Function
else:
    exit = exit                      # Just Call The Exit Function

#----------------------------------------------------------------------------------------------#
# Display The Version Of pandas Being Used                                                     #
#----------------------------------------------------------------------------------------------#
print()
print ("Using pandas version " + pd.__version__)
    
#----------------------------------------------------------------------------------------------#
# Display A Status Message Indicating This Work Is Complete                                    #
#----------------------------------------------------------------------------------------------#
print("\nAll initialization work is complete!\n")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ibm_db in /home/rsanders/.local/lib/python3.10/site-packages (3.2.3)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/rsanders/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/rsanders/.local/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: tzdata>=2022.7 in /home/rsanders/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rsanders/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Using pandas version 2.2.2

All initialization work is complete!

## Step 2: Create a function that uses APIs in the <i>ibm_db</i> driver to execute SQL queries and retrieve/display query results
### Overview:
<b><i>Structured Query Language</i></b> (SQL) is a standardized language that is used to work with database objects and the data they contain. However, because SQL is non-procedural by design, it is not considered an actual programming language (even though it has a defined syntax and its own set of language elements). Consequently, applications that utilize SQL are typically built by combining the decision and sequence control of a high-level programming language — in our case, Python — with the data storage, manipulation, and retrieval capabilities SQL provides.

Because many of the exercises found in this lab focus on constructing and executing SQL statements, the database used will be queried often to ensure that operations desired perform as expected. Rather than repeat the Python code needed to execute a query, retrieve the results, and display the information obtained <i><u>every time a query is executed</u></i>, the code in the following cell will encapsulate this work in a Python function that can be called whenever a query is desired.

With Python and Jupyter Notebook, application programming interfaces (APIs) in the <b>ibm_db</b> Python database interface driver are used to submit SQL statements to a Db2 database for processing, as well as retrieve results. The APIs used in the code in the following cell include: 

<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:11%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>ibm_db.exec_immediate( )</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Used to prepare and execute an SQL statement, using values supplied for parameter markers that were coded in the statement (if there are any), immediately.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:11%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>ibm_db.stmt_errormsg( )</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Used to return an SQLCODE and corresponding error message that explains why an attempt to return an <i>IBM_DBStatement</i> object from an <b>ibm_db.prepare( )</b>, <b>ibm_db.exec_immediate( )</b>, or <b>ibm_db.callproc( )</b> API call was unsuccessful; can also be used to return an SQLCODE and error message that identifies why the last operation using a <i>IBM_DBStatement</i> object failed.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:11%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>ibm_db.fetch_tuple( )</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Used to retrieve a row (record) from a result set and copy its data to a Python tuple. (<i>A Python tuple is a data structure that is used to store a comma-separated, ordered sequence of values. Each item in a tuple has a unique index value, starting with zero; an individual item in a tuple can be accessed by referencing its index value.</i>) Depending on how it is called, it can advance a cursor to the next row in a result set and copy the data for that row into a tuple. (<i>A cursor is an object that enables traversal over the rows of a result set.</i>) Or, it can be used to retrieve the data for a specific row — provided a keyset driven, dynamic, or static cursor is used to traverse the result set. In either case, the value for the first column in the row will be stored in the first position of the tuple (index position 0), the second column will be stored in the second position (index position 1) and so on.</td>
    </tr>
</table>

You can learn more about the APIs that are available with the <b>ibm_db</b> Python interface driver here: <a href="https://github.com/IBM/db2-python">IBM Db2-Python</a> and here: <a href="https://github.com/ibmdb/python-ibmdb/wiki/APIs">ibmdb/python-ibmdb APIs</a>. 

### Execute the code:
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the operations the function performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [2]:
#----------------------------------------------------------------------------------------------#
# Define A Python Function Named runQuery()                                                    #
#----------------------------------------------------------------------------------------------#

#----------------------------------------------------------------------------------------------#
#  FUNCTION NAME:  runQuery()                                                                  #
#  PURPOSE:        This function attempts to execute an SQL query (SELECT statement) and then  #
#                  display any results obtained.                                               #
#                                                                                              #
#  PARAMETERS:     dispInfo   - A value that indentifies what information is to be displayed   #
#                                 (0 - Display everything; 1 - Display records and row count;  #
#                                  2 - Display records only)                                   #
#                  sqlStmt    - The SQL query statement to be executed                         #
#                  colHeaders - A Python tuple containing display column header information    #
#                  colWidths  - A Python tuple containing display column width information     #
#                                                                                              #
#  RETURNS:        True       - The query was executed and the results were displayed          #
#                  False      - The query was not executed or the results were not displayed   #
#----------------------------------------------------------------------------------------------#
def runQuery(dispInfo, sqlStmt, columnHeaders, columnWidths):

    # Define And Initialize The Appropriate Variables
    resultSet = False                        # Pointer To A Query Result Set
    errorMsg = ""                            # Detailed Error Information
    noData = False                           # No Data Found Flag
    firstPass = True                         # First Pass Through Record Display Loop Flag
    dataRecord = False                       # Data Record
    numColumns = len(columnHeaders)          # Number Of Values In The Column Headers Tuple
    numRows = 0                              # Number Of Records (Rows) Retrieved
    tupIndx = 0                              # Tuple Index
    dataValue = ""                           # Data Value String
    newValue = ""                            # Trimmed Data Value String

    # If The dispInfo Variable Is Set To 0, Display The SQL Statement That Is To Be Executed,
    # Along With A Message That The Statement Is Being Executed
    if dispInfo == 0:
        print("\nExecuting the following SQL statement:\n\n\"" + sqlStmt + "\"")

    # Execute The SQL Statement Provided By Calling The ibm_db.exec_immediate() API
    # (This API Prepares And Executes An SQL Statement In A Single Step)
    try:
        resultSet = ibm_db.exec_immediate(connectionID, sqlStmt)
    except Exception:
        print("\nERROR: Unable to execute the SQL statement specified.\n")
        pass

    # If The SQL Statement Could Not Be Executed, Display An Error Message And Return
    # FALSE To The Calling Function (Call The ibm_db.stmt_errormsg() API To Obtain
    # Detailed Error Information)
    if resultSet == False:
        errorMsg = ibm_db.stmt_errormsg()
        print(errorMsg + "\n")
        return(False)

    # Otherwise, Print A Blank Line And Begin Processing Any Records Retrieved
    else:
        print()

    # As Long As There Are Records In The Result Set Produced, ...
    while noData == False:

        # Retrieve A Record And Store Its Values In A Tuple By Calling
        # The ibm_db.fetch_tuple() API
        try:
            dataRecord = ibm_db.fetch_tuple(resultSet)
        except:
            print("ibm_db.fetch_tuple() returned an error.\n")
            pass

        # If A Record Could Not Be Retrieved Or If No Record Was Found,
        # Set The "No Data" Flag To TRUE To Exit The while() Loop
        if dataRecord == False:
            noData = True

            # If This Is The First Pass Through The while() Loop,
            # Display A "No Records Found" Message And Exit The Loop
            if firstPass == True:
                print("No records found.")
                break

        # Otherwise, Display The Appropriate Information
        else:

            # If This Is The First Pass Through The while() Loop, ...
            if firstPass == True:

                # If The dispInfo Variable Is Set To 0 Display A "Query Results" Header Label
                if dispInfo == 0:
                    print("Query results:\n")

                # Display The Column Headers Provided In The columnHeaders Tuple - Left Justify
                # The Text And Make Each Column The Width Specified In The columnWidths Tuple
                for tupIndx in range(numColumns):
                    print(f'{columnHeaders[tupIndx]:<{columnWidths[tupIndx]}}', end="")
                    print("  ", end="")      # Space Between Column Header Values

                # Terminate The Line And Display Column Header/Value Dividing Lines Just Below
                # The Column Headers
                print()
                for tupIndx in range(numColumns):
                    print(f'{"":-<{columnWidths[tupIndx]}}', end="")
                    print("  ", end="")       # Space Between Column Header Dividing Lines

                # Terminate The Line And Set The "First Pass" Flag To FALSE So Header
                # Information Will Not Be Displayed Again
                print()
                firstPass = False

            # Format And Display The Data For Each Record Retrieved
            for tupIndx in range(numColumns): # For Every Column In The Record, ...

                # Copy The Data Value Into A Character String Variable And
                # Remove Any Trailing Space Characters Found
                dataValue = "{}".format(dataRecord[tupIndx])
                newValue = dataValue.rstrip()
 
                # If The Data Value IS NOT A Character String, Display It Right Justified,
                # Using The Width Specified In The columnWidths Tuple
                if type(dataRecord[tupIndx]) != str:
                    print(f'{newValue:>{columnWidths[tupIndx]}}', end="")

                # Otherwise (The Data Value Is A Character String), ...
                else:

                    # If The Character String Only Contains Alphabetical Characters,
                    # Display It Left Justified, Using The Width Specified In The
                    # columnWidths Tuple
                    if newValue.isalpha() == True:
                        print(f'{newValue:<{columnWidths[tupIndx]}}', end="")

                    # Otherwise, See If The Character String Contains A Space Or
                    # Underscore Character (If It Does, isalpha() Will Return False)
                    else:

                        # If The Character String Contains A Space Or Underscore Character,
                        # Display The Character String Left Justified, Using The Width
                        # Specified In The columnWidths Tuple
                        if (" " in newValue or "_" in newValue) == True:
                            print(f'{newValue:<{columnWidths[tupIndx]}}', end="")

                        # Otherwise, Display The Character String Right Justified, Using
                        # The Width Specified In The columnWidths Tuple
                        else:
                            print(f'{newValue:>{columnWidths[tupIndx]}}', end="")

                # Add Spaces Between This Column Value And The Next
                print("  ", end="")           # Space Between Column Values

            # Terminate The Line And Increment The Records (Rows) Counter
            print()
            numRows = numRows + 1

    # If The dispInfo Variable Is Set To 1 And Records Were Retrieved,
    # Display The Number Found
    if dispInfo <= 1 and firstPass == False:
        print("\nNumber of records (rows) found:", numRows)

    # Return TRUE To The Calling Function
    return(True)

# Display A Status Message Indicating The runQuery() Function Has Been Defined
print("\nA function named runQuery() has been defined!\n")

A function named runQuery() has been defined!

## Step 3. Assign values to application variables that will be used to establish a database connection
### Overview:
Before operations can be performed against an IBM Db2 database, a connection to the database must first be established. To do this, you need information about the database environment such as the database's name or alias, the host name or IP address of the database server, and the port number Db2 uses for TCP/IP communications. You also need appropriate authorization credentials, which typically consist of a user or authentication ID and a corresponding password. Instructions on how to obtain this information are provided in the main guide for this lab.   

### Execute the code:
Once you have collected the information needed, perform these steps to assign it to the application variables that will be used later to establish a database connection:<br>
<ol>
    <li>
        <div>Select the appropriate code cell below and assign values to the <code>dbName</code>,<code>hostName</code>, <code>portNum</code>, <code>userID</code>, and <code>passWord</code> application variables. If the database you are using is provided through the <b>Db2 "Lite" service on IBM Cloud</b>, modify the code in the cell immediately below the heading <b>Step 3a: Connect to a remote, Db2 on Cloud database</b>. On the other hand, if you are using a local database that was created with <b>IBM Db2 Community Edition</b> (or some other Db2 Edition), modify the code in the cell immediately below the heading <b>Step 3b: Connect to a local, on-premises Db2 database</b>.
        </div>
    </li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            Click on the </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Save.png" alt="Save" width="30px" align="middle"/></div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Ctrl+s</b> (or <b>command+s</b> on Mac) to save your changes.</div>
    </li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            When you are ready, click on the
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Shift+Enter</b> to execute the code.
        </div>
    </li>
</ol>

<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> Whenever new values are assigned to the variables in the cell below, the code must be saved and <i><u>re-executed</i></u>. Otherwise, the code in the code cells that follow may not execute correctly.
</div>

## Step 3a: Connect to a remote, Db2 on Cloud database

In [ ]:
#----------------------------------------------------------------------------------------------#
# Initialize All User-Specific Connection Variables - Db2 on Cloud Database                    #
#   IMPORTANT: UPDATE WITH VALUES FROM YOUR OWN ENVIRONMENT, AS PER LAB INSTRUCTIONS.          #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
dbName = "bludb"                           # The Alias For The Db2 Database
userID = "replace-with-your-userID"        # The Instance User ID
passWord = "replace-with-your-password"    # The Password For The Instance User ID
hostName = "replace-with-your-hostname"    # The Host Name
portNum = "replace-with-your-port-number"  # The TCP/IP Port Number That Receives Db2 Connections

secureComm = True                          # Use SSL (Secure Sockets Layer) Communication

# Display A Status Message Indicating This Work Is Complete
print("\nUser-specific connection variable initialization work complete!\n")

## Step 3b: Connect to a local, on-premises Db2 database

In [3]:
#----------------------------------------------------------------------------------------------#
# Initialize All User-Specific Connection Variables - Local Db2 Database                       #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
dbName = "replace-with-your-database-name" # The Alias For The Db2 Database
userID = "replace-with-your-userID"        # The Instance User ID
passWord = "replace-with-your-password"    # The Password For The Instance User ID
hostName = "replace-with-your-hostname"    # The Host Name
portNum = "replace-with-your-port-number"  # The TCP/IP Port Number That Receives Db2 Connections
                                           #   On Db2 11.5.5 and older, the default port number
                                           #   is 50000 (Non-SSL) or 50001 (SSL).
                                           #   On Db2 11.5.6 and newer, the default port number
                                           #   is 25000 (Non-SSL or 25001 (SSL).
secureComm = False                         # Do NOT Use SSL (Secure Sockets Layer) Communication

# Display A Status Message Indicating This Work Is Complete
print("\nUser-specific connection variable initialization work complete!\n")

User-specific connection variable initialization work complete!

# Section 2. Interact with the Db2 database

## Step 1: Establish a database connection
### Overview:
As mentioned earlier, before anything can be done with a Db2 database, a connection to the database must first be established. With Python and Jupyter Notebook, the <b>ibm_db.connect( )</b> API is typically used to perform this task. This API utilizes a connection string that has the following format:

<b>DRIVER={IBM DB2 ODBC DRIVER};ATTACH=<i>connType</i>;DATABASE=<i>dbName</i>;HOSTNAME=<i>hostName</i>;PORT=<i>portNum</i>;PROTOCOL=TCPIP;SECURITY=SSL;UID=<i>userName</i>;PWD=<i>passWord</i></b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>connType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Specifies whether a connection is to be made to Db2 server (<code>TRUE</code>) or a Db2 database (<code>FALSE</code>).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>dbName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The name of the Db2 server or database the connection is to be made to.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>hostName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The host name or IP address of the Db2 server — as it is known to the TCP/IP network — the connection is to be made to.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>portNum</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The port number that receives Db2 connections on the server the connection is to be made to.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>userName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The user name/authorization ID that is to be used for authentication when the connection is established.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>passWord</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The password that corresponds to the user name/authorization ID specified in the <b><i>userName</i></b> parameter.</td>
    </tr>      
</table>

<div class="alert alert-block alert-success">
    <b>NOTE:</b> When working with a local Db2 database, a Db2 instance must be up and running before a connection can be established. A Db2 instance can be started by executing the <b>START DATABASE MANAGER</b> (<b>db2start</b>) command. (<i>You can learn more about the START DATABASE MANAGER command here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=commands-start-database-manager">START DATABASE MANAGER command</a>.) With the Db2 "Lite" service on IBM Cloud, a Db2 instance is always running.<br><br>
    In addition, if Transport Layer Security (TLS) — formerly known as Secure Sockets Layer (SSL) — communications is not being used to establish a connection to a local Db2 database, the "<b>SECURITY=SSL</b>" clause should not be included in the connection string used. 
</div>

### Execute the code:
The code in the next cell builds a connection string in the format just described, using the values assigned to application variables earlier. It then attempts to establish a connection to the Db2 database specified.
<ol>
    <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            When you are ready, click on the
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Shift+Enter</b> to execute the code.
        </div>
    </li>
</ol>

<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> Make sure the correct Db2 server/database name, host name, port number, user ID, and password     have been assigned to the appropriate variables <i><u>before</u></i> executing the code in this cell.
</div>

In [4]:
#----------------------------------------------------------------------------------------------#
# Establish A Db2 Database Connection                                                          #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
connString = ""                                 # Db2 Connection String
connOption = ""                                 # ibm_db.connect() API Connection Option
connectionID = None                             # Db2 Connection ID
errorMsg = ""                                   # Detailed Error Information

# Construct The String That Will Be Used To Establish A Db2 Database Connection
connString = "DRIVER={IBM DB2 ODBC DRIVER}"
connString += ";ATTACH=FALSE"            # Connect To A Database - Not A Server
connString += ";DATABASE=" + dbName      # Database Name
connString += ";HOSTNAME=" + hostName    # Host Name
connString += ";PORT=" + portNum         # Port Number
connString += ";PROTOCOL=TCPIP"          # Protocol (TCP/IP)

# If The Connection Requires Secure Sockets Layer (SSL) Communications, Add "SECURITY=SSL"
# To The Connection String
if secureComm == True:
    connString += ";SECURITY=SSL"        # Security (SSL)

# Finish Constructing The Database Connection String
connString += ";UID=" + userID           # Authorization ID
connString += ";PWD=" + passWord         # Password

# Define The Db2 Database Connection Option That Will Enable AUTOCOMMIT Behavior
connOption = {ibm_db.SQL_ATTR_AUTOCOMMIT : ibm_db.SQL_AUTOCOMMIT_ON}

# Display A Status Message Indicating An Attempt To Establish A Connection To A Db2 Database
# Is About To Be Made
print("\nConnecting to the \'" + dbName + "\' database ... ", end="")

# Attempt To Establish A Connection To The Database Specified, Using The Connection String
# Just Constructed By Calling The ibm_db.connect() API - Turn AUTOCOMMIT Behavior ON and
# QUOTED_LITERAL_REPLACEMENT Behavior OFF
try:
    connectionID = ibm_db.connect(connString, '', '', connOption,
        ibm_db.QUOTED_LITERAL_REPLACEMENT_OFF)
except Exception:
    print("\n\nERROR: Unable to connect to the \'" + dbName + "\' database.")
    pass

# If A Database Connection Could Not Be Established, Display A Detailed Error Message And
# Exit (Call The ibm_db.conn_errormsg() API To Obtain Detailed Error Information)
if connectionID == None:
    errorMsg = ibm_db.conn_errormsg()
    print(errorMsg + "\n")
    exit(-1)

# Otherwise, Complete The Status Message
else:
    print("Done!\n")

# Display The Connection String That Was Used To Establish The Connection
print("Connection string used:\n\"" + connString + "\"\n")

Connecting to the 'MY_DB' database ... Done!

Connection string used:
"DRIVER={IBM DB2 ODBC DRIVER};ATTACH=FALSE;DATABASE=MY_DB;HOSTNAME=res-UDOO-x86;PORT=25000;PROTOCOL=TCPIP;UID=db2inst1;PWD=ibmdb2"

## Step 2: Query the database's system catalog
### Overview:
Every IBM Db2 database contains a system catalog, which is a set of special tables and views that contain definitions of database objects, statistical information about the objects themselves, and information about the type of access users have to those objects. (Db2 automatically updates these tables and views whenever the <b>RUNSTATS</b> command or select SQL statements are executed  — <i>You can learn more about the system catalog views here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=sql-catalog-views">Catalog views</a>.)

You can obtain a list of the tables that have been defined in a database — including those tables that are part of the system catalog — by querying a system catalog view named <b>SYSCAT.TABLES</b>.

### Execute the code:
The code in the next cell queries the <b>SYSCAT.TABLES</b> view and returns a list of user-defined tables whose name begins with the characters "<b>AIR</b>".
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [5]:
#----------------------------------------------------------------------------------------------#
# Query The Database System Catalog                                                            #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
columnHeaders = ("TABNAME", "COLCOUNT")         # Result Set Column Headers Tuple
columnWidths = (25, 9)                          # Result Set Column Widths Tuple
retCode = True                                  # Return Code

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"       # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TYPE = 'T'"             # Where The TYPE Column Value Indicates Table
sqlStatement += " AND TABNAME LIKE 'AIR%'"      # And The Table Name Begins With 'AIR'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

Executing the following SQL statement:

"SELECT TABNAME, COLCOUNT FROM SYSCAT.TABLES WHERE TYPE = 'T' AND TABNAME LIKE 'AIR%'"

Query results:

TABNAME                    COLCOUNT
-------------------------  ---------
AIRLINE_DELAY_CAUSE_TOTAL         21

Number of records (rows) found: 1

## Step 3: Create a table named AIRLINE_DELAY_CAUSE
### Overview:
Tables are created by executing the <b>CREATE TABLE</b> SQL statement. In its simplest form, the syntax for this statement looks like this:

<b>CREATE TABLE [ <i>TableName</i> ]&ensp;( [ <i>Element</i> ] , ... )<br>
&emsp;&lt; ORGANIZE BY [ ROW | COLUMN ] &gt;</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TableName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the table that is to be created.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Element</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies one or more columns, UNIQUE constraints, CHECK constraints, referential constraints, informational constraints, and/or a primary key constraint to include in the table definition.</td>
    </tr>
</table>
    
The syntax used to define each element varies according to the element specified — the basic syntax used to define a column element (which is the most common type of element used) is:

<b>[ <i>ColumnName</i> ]&ensp; [ <i>DataType</i> ]<br>
&emsp;&lt; NOT NULL &gt;<br>
&emsp;&lt; WITH DEFAULT &lt; [ <i>DefaultValue</i> ] | NULL &gt; &gt;<br>
&emsp;&lt; <i>UniqueConstraint</i> &gt;<br>
&emsp;&lt; <i>CheckConstraint</i> &gt;<br>
&emsp;&lt; <i>RIConstraint</i> &gt;</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the column; the name specified must be unique.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>DataType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies the data type to assign to the column; the data type determines the kind of data values that can be stored in the column. (<i>You can learn more about the data types available with Db2 here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=elements-data-types">Data types</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>DefaultValue</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies the default value to provide for the column if no value for the column is supplied when a new record is added to the table.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>UniqueConstraint</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies a UNIQUE or primary key constraint that is to be associated with the column. A UNIQUE constraint can be used to ensure that values assigned to one or more columns of a table are never duplicated; a primary key is a special form of a UNIQUE constraint that uniquely defines the characteristics of each table row. (<i>You can learn more about UNIQUE and primary key constraints here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=constraints-types">Types of constraints</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>CheckConstraint</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies a CHECK constraint that is to be associated with the column. A CHECK constraint can be used to ensure that a particular column in a table is never assigned an unacceptable value. (<i>You can learn more about check constraints here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=constraints-types">Types of constraints</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>RIConstraint</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies a referential integrity constraint that is to be associated with the column. Referential integrity constraints (also known as <i>referential constraints</i> and <i>foreign key constraints</i>) can be used to define required relationships between select columns and tables.  (<i>You can learn more about referential integrity constraints here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=constraints-types">Types of constraints</a>)</td>
    </tr>      
</table>

Therefore, to create a table named <b>EMPLOYEES</b> that contains three columns, one of which is named <b>EMPID</b> that will be used to store integer data, one that is named <b>NAME</b> that can contain <i><u>up to</u></i> 30 characters, and one that is named <b>DEPT</b> that will be used to store fixed-length character string data that is three characters long, you would execute a <b>CREATE TABLE</b> statement that looks like this:

<code>CREATE TABLE employees
&emsp;(empid&emsp;&emsp;INTEGER,
&emsp; name&emsp;&emsp;&emsp;VARCHAR(30),
&emsp; dept&emsp;&emsp;&emsp;CHAR(3))</code>

<div class="alert alert-block alert-success">
    <b>NOTE:</b> Db2 converts all text used in SQL statements to upper case unless a different case is specified within single quotes ('). Different cases are used here to visually separate user-supplied values (shown in lower case) from the regular syntax of the SQL statement shown (displayed in upper case). This format for examples is used throughout the exercises in this lab. That said, when looking for exact matches in queries (for example, <b>WHERE TABNAME = 'EMPLOYEES'</b>), user-supplied values must be provided in upper case because, by default, that is the way in which the value was stored. 
</div>

### Execute the code:
The code in the next cell builds a <b>CREATE TABLE</b> statement and then executes it to create a table named <b>AIRLINE_DELAY_CAUSE</b>. (<i>This table will be used by other exercises in the lab.</i>) It then queries the system catalog to verify that the <b>AIRLINE_DELAY_CAUSE</b> table exists.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [6]:
#----------------------------------------------------------------------------------------------#
# Create A Table Named AIRLINE_DELAY_CAUSE In The Currently Connected Database                 #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
columnHeaders = ("TABNAME", "COLCOUNT")         # Result Set Column Headers Tuple
columnWidths = (25, 9)                          # Result Set Column Widths Tuple
retCode = True                                  # Return Code

# Define The CREATE TABLE Statement To Be Executed
sqlStatement = "CREATE TABLE airline_delay_cause ("
sqlStatement += " flight_year INTEGER,"
sqlStatement += " flight_month INTEGER,"
sqlStatement += " carrier CHAR(2),"
sqlStatement += " carrier_name VARCHAR(75),"
sqlStatement += " airport_code CHAR(3),"
sqlStatement += " airport_name VARCHAR(200),"
sqlStatement += " arr_flights DECIMAL(11,2),"
sqlStatement += " arr_del15 DECIMAL(11,2),"
sqlStatement += " carrier_ct DECIMAL(11,2),"
sqlStatement += " weather_ct DECIMAL(11,2),"
sqlStatement += " nas_ct DECIMAL(11,2),"
sqlStatement += " security_ct DECIMAL(11,2),"
sqlStatement += " late_aircraft_ct DECIMAL(11,2),"
sqlStatement += " arr_cancelled DECIMAL(11,2),"
sqlStatement += " arr_diverted DECIMAL(11,2),"
sqlStatement += " arr_delay DECIMAL(11,2),"
sqlStatement += " carrier_delay DECIMAL(11,2),"
sqlStatement += " weather_delay DECIMAL(11,2),"
sqlStatement += " nas_delay DECIMAL(11,2),"
sqlStatement += " security_delay DECIMAL(11,2),"
sqlStatement += " late_aircraft_delay DECIMAL(11,2))"
sqlStatement += " ORGANIZE BY ROW"

# Execute The CREATE TABLE Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following SQL statement:\n\n\"" + sqlStatement + "\"")
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    stmtErrorMsg = ibm_db.stmt_errormsg()
    print(stmtErrorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Retrieve Information About The AIRLINE_DELAY_CAUSE Table From The System Catalog             #
#----------------------------------------------------------------------------------------------#

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"
sqlStatement += " FROM SYSCAT.TABLES"
sqlStatement += " WHERE TABNAME LIKE 'AIR%'"

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

Executing the following SQL statement:

"CREATE TABLE airline_delay_cause ( flight_year INTEGER, flight_month INTEGER, carrier CHAR(2), carrier_name VARCHAR(75), airport_code CHAR(3), airport_name VARCHAR(200), arr_flights DECIMAL(11,2), arr_del15 DECIMAL(11,2), carrier_ct DECIMAL(11,2), weather_ct DECIMAL(11,2), nas_ct DECIMAL(11,2), security_ct DECIMAL(11,2), late_aircraft_ct DECIMAL(11,2), arr_cancelled DECIMAL(11,2), arr_diverted DECIMAL(11,2), arr_delay DECIMAL(11,2), carrier_delay DECIMAL(11,2), weather_delay DECIMAL(11,2), nas_delay DECIMAL(11,2), security_delay DECIMAL(11,2), late_aircraft_delay DECIMAL(11,2)) ORGANIZE BY ROW"

Done!

****************************************************************************************************

Executing the following SQL statement:

"SELECT TABNAME, COLCOUNT FROM SYSCAT.TABLES WHERE TABNAME LIKE 'AIR%'"

Query results:

TABNAME                    COLCOUNT
-------------------------  ---------
AIRLINE_DELAY_CAUSE_TOTAL         21
AIRLINE_DELAY_CAUSE               21

Number of records (rows) found: 2

## Step 4: Copy data from a Comma Separated Values (CSV)-formatted file to a pandas DataFrame
### Overview:
Pandas is an open-source library that offers powerful, expressive and flexible data structures that make data manipulation and analysis easy. The <i>DataFrame</i> is one of these structures. A pandas DataFrame is a structure that contains two-dimensional data and its corresponding labels. Such structures are widely used in data science, machine learning, scientific computing, and many other data-intensive fields.

DataFrames are similar to relational database tables and Excel spreadsheets. However, in many cases, DataFrames are faster, easier to use, and more powerful than tables or spreadsheets because they’re an integral part of the Python and NumPy ecosystems.

The easiest way to access data stored in a Comma Separated Values (CSV)-formatted file in an <b>IBM Cloud Pak for Data as a Service</b> environment is to load the data stored in the file into a pandas DataFrame. Instructions on how to do this, as well as on how to access the resulting pandas DataFrame in a Jupyter Notebook are provided in the main guide for this lab. (<i>A pandas DataFrame can also be used to access data stored in a local, on-premises file.</i>)

### Execute the code:
Perform these steps to copy data from a CSV-formatted file into a pandas DataFrame:<br>
<ol>
    <li>
        <div>Select the appropriate code cell below and make any modifications needed. If the database you are using is provided through the <b>Db2 "Lite" service on IBM Cloud</b>, use IBM Cloud Pak for Data to generate the appropriate code in the cell immediately below the heading <b>Step 4a: Copy data from a Cloud Pak for Data asset</b>. On the other hand, if you are using a local database that was created with <b>IBM Db2 Community Edition</b> (or some other Db2 Edition), execute the code in the cell immediately below the heading <b>Step 4b: Copy data from a local, on-premises file</b>.
        </div>
    </li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            If IBM Cloud Pak for Data was used to generate code in the cell below the heading <b>Step 4a: Copy data from a Cloud Pak for Data asset</b>, click on the </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Save.png" alt="Save" width="30px" align="middle"/></div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Ctrl+s</b> (or <b>command+s</b> on Mac) to save your changes.</div>
    </li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            When you are ready, click on the
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Shift+Enter</b> to execute the code.
        </div>
    </li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            After the code is executed, examine the data that was extracted from the first five rows of the pandas DataFrame and make sure it looks correct.
        </div>
    </li>    
</ol>

## Step 4a: Copy data from a Cloud Pak for Data asset

## Step 4b: Copy data from a local, on-premises file

In [7]:
#----------------------------------------------------------------------------------------------#
# # Load The Data Stored In A File Named "Airline_Delay_Cause.csv" Into                        #
# A pandas DataFrame                                                                           #
#----------------------------------------------------------------------------------------------#

# Load The Data Stored In The File "Airline_Delay_Cause.csv" Into A Pandas DataFrame
df_data_1 = pd.read_csv("Airline_Delay_Cause.csv")

# Display The First 5 Rows Of Data That Was Copied From The Data File To The pandas DataFrame
df_data_1.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",27.0,7.0,4.37,0.00,...,0.0,0.53,0.0,0.0,351.0,211.0,0.0,124.0,0.0,16.0
1,2022,12,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",69.0,3.0,0.61,0.00,...,0.0,2.37,0.0,0.0,136.0,38.0,0.0,1.0,0.0,97.0
2,2022,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.0,14.0,5.28,4.34,...,0.0,0.96,0.0,2.0,917.0,413.0,372.0,94.0,0.0,38.0
3,2022,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",47.0,10.0,5.12,0.57,...,1.0,2.31,0.0,0.0,488.0,141.0,50.0,77.0,57.0,163.0
4,2022,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",131.0,34.0,12.08,2.70,...,0.0,12.90,7.0,0.0,4017.0,756.0,985.0,280.0,0.0,1996.0

## Step 5: Copy data stored in a pandas DataFrame into the AIRLINE_DELAY_CAUSE table (using a prepared INSERT statement with parameter markers)
### Overview:
When a table is first created, it is nothing more than a definition of how a set of data values are to be stored. However, it can be populated in a variety of ways. For example, it can be bulk-loaded using Db2 utilities like <b>Import</b>, <b>Ingest</b>, and <b>Load</b> (although these utilities <b><i> cannot </i></b> be invoked from a Jupyter Notebook). Or, data can be added to it, one record (row) at a time, using the <b>INSERT</b> SQL statement.

The basic syntax for the <b>INSERT</b> statement looks like this:
<br><br>
<b>INSERT INTO [ <i>TableName</i> | <i>ViewName</i> ]<br>
&emsp;&lt; ( [ <i>ColumnName</i> ] , ... ) &gt;<br>
&emsp;VALUES ( [ <i>Value</i> | NULL | DEFAULT ] , ... )</b>

where:

<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TableName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, the table data is to be added to; this can be any type of table <i><u>except</u></i> a system catalog table or a system-maintained materialized query table (MQT).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ViewName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the view data is to be added to; this can be any type of view <i><u>except</u></i> a system catalog view or a read-only view.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, one or more columns that data values are to be assigned to; each column name provided must identify an existing column in the table or view specified.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Value</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies one or more data values that are to be added to the table or view specified. (If values are not provided for every column, the columns skipped must be configured to accept a default value or the value NULL.)</td>
    </tr>
</table>

Thus, to add a record to a table named <b>DEPARTMENT</b> that was created using a <b>CREATE TABLE</b> statement that looked like this:

<code>CREATE TABLE department
&emsp;(deptno&emsp;&emsp;&emsp;CHAR(3),
&emsp; deptname&emsp;CHAR(20),
&emsp; mgrid&emsp;&emsp;&emsp;&emsp;INTEGER)</code>

You might execute an <b>INSERT</b> statement that looks like this:

<code>INSERT INTO department
&emsp; (deptno, deptname, mgrid)
&emsp; VALUES ('A01', 'ADMINISTRATION', 1000)</code>

It is important to note that the number of values provided in the <b>VALUES</b> clause must equal the number of column names identified in the column name list. The values provided will be assigned to columns in the order in which they appear — in other words, the first value listed will be assigned to the first column identified, the second value will be assigned to the second column identified, and so on. In addition, each value supplied must be compatible with the data type of the column it is being assigned to. (<i>For example, a character string value can only be assigned to a column that has character string data type.</i>)

If values are provided for every column found in the table, the column name list can be omitted. In this case, the first value provided is assigned to the first column in the table, the second value is assigned to the second column, and so on. Thus, the record that was added to the <b>DEPARTMENT</b> table in the previous example could just as easily have been added by executing an <b>INSERT</b> statement that looks like this:

<code>INSERT INTO department
&emsp; VALUES ('A01', 'ADMINISTRATION', 1000)</code>

### Using parameter markers:
With Python and Jupyter Notebook (as well as many other programming languages), there are two ways in which SQL statements can be executed:<br>
<ul>
    <li><b>Prepare and then execute</b>: This approach separates the preparation of an SQL statement from its actual execution and is typically used when a statement is to be executed repeatedly (often with different values being supplied for place holders in the statement with each execution). This method is also used when an application needs to know information about the columns that will exist in the result set produced by the statement, in advance. The <b>ibm_db.prepare( )</b> and <b>ibm_db.execute( )</b> application programming interfaces (APIs) in the <b>ibm_db</b> library are used to process SQL statements in this manner.</li>
    <li><b>Execute immediately</b>: This approach combines the preparation and execution of an SQL statement into a single step and is typically used when a statement only needs to be executed once. The <b>ibm_db.exec_immediate( )</b> API in the <b>ibm_db</b> library is used to process SQL statements in this manner. (<i>This has been the approach used in the lab exercises thus far.</i>)</li>    
</ul>
Both methodologies allow the use of <i>parameter markers</i> in place of constants or expressions in the SQL statements used; however, parameter markers are typically <i>not</i> used if the statement is only going to be executed once. Parameter markers are represented by question mark (<b>?</b>) characters and indicate positions in an SQL statement where the value of one or more variables is to be substituted at the time the statement is executed. If an application variable is associated with a specific parameter marker in an SQL statement, that variable is said to be “<i>bound</i>” to the parameter marker and such bindings can be made by executing the <b>ibm_db.bind_param( )</b> API. That said, with Python and Jupyter Notebook, application variables do not have to be explicitly bound in order to be used to provide values to parameter markers during SQL statement execution — values can be passed, via a Python tuple, when the <b>ibm_db.execute( )</b> or <b>ibm_db.exec_immediate( )</b> API is called. (<i>To keep things simple, Python tuples will be used to provide values for parameter markers used in this exercise.</i>)

### Execute the code:<br>
The code in the next cell executes an <b>INSERT</b> SQL statement containing parameter markers multiple times to add records to the table named <b>AIRLINE_DELAY_CAUSE</b> that was created earlier.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>
<div class="alert alert-block alert-success">
    <b>NOTE:</b> When executed, the code in the next cell should insert <b>80104</b> records (rows) into the AIRLINE_DELAY_CAUSE table. 
</div>

In [8]:
#----------------------------------------------------------------------------------------------#
# Populate A Table Named AIRLINE_DELAY_CAUSE Using Data Stored In A pandas DataFrame And An    #
# INSERT Statement With Parameter Markers                                                      #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
queryRetCode = 0                                # Autocommit API Query Mode Return Code
connErrorMsg = ""                               # Database Connection Error Information
setRetCode = False                              # Autocommit API Set Mode Return Code
sqlStatement = ""                               # Structured Query Language (SQL) Statement
preparedStmt = None                             # Pointer To A Prepared SQL Statement
stmtErrorMsg = ""                               # SQL Statement Error Information
dataFileName = ""                               # .CSV Data File Name
commitCount = 0                                 # COMMIT Row Counter
rowCount = 0                                    # Number Of Rows Processed
tempValue = ""                                  # Temporary Value (In The Form Of A String)                   
colValue = 0.00                                 # Numerical Value For DECIMAL(11,2) Columns
retCode = True                                  # Return Code

#----------------------------------------------------------------------------------------------#
# Determine AUTOCOMMIT Behavior - If It's ON, Turn It OFF                                      #
#----------------------------------------------------------------------------------------------#

# Determine Whether AUTOCOMMIT Behavior Is Currently ON Or OFF By Calling The
# ibm_db.autocommit() API (NOTE: AUTOCOMMIT Behavior Should Be ON Since This Behavior Was
# Enabled When The Database Connection Was First Established)
try:
    queryRetCode = ibm_db.autocommit(connectionID)
except Exception:
    print("\nERROR: Unable to determine AUTOCOMMIT behavior setting.\n")
    connErrorMsg = ibm_db.conn_error(connectionID)
    print(connErrorMsg + "\n")
    exit(-1)

# If Autocommit Behavior Is ON, Turn It OFF By Calling The ibm_db.autocommit() API
# With The Appropriate Value (ibm_db.SQL_AUTOCOMMIT_OFF)
if queryRetCode == 1:
    print("\nAUTOCOMMIT behavior is currently ON; turning it OFF ... ", end="")
    try:
        setRetCode = ibm_db.autocommit(connectionID, ibm_db.SQL_AUTOCOMMIT_OFF)
    except Exception:
        pass

    # If AUTOCOMMIT Behavior Could Not Be Turned OFF, Display An Error Message And Exit
    # (Call The ibm_db.conn_error() API To Obtain Detailed Error Information)
    if setRetCode == False:
        print("\nERROR: Unable to turn AUTOCOMMIT behavior OFF.\n")
        connErrorMsg = ibm_db.conn_error(connectionID)
        print(connErrorMsg + "\n")
        exit(-1)

    # Otherwise, Print "Done" And Display A Section Divider Line
    else:
        print("Done!\n")
        print('*' * 100)

# If AUTOCOMMIT Behavior Is OFF, Display A Message Stating That Along With A
# Section Divider Line
elif queryRetCode == 0:
    print("\nAUTOCOMMIT behavior is currently OFF\n")
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Construct And Prepare The INSERT Statement That Will Be Used To Add Data To The              #
# AIRLINE_DELAY_CAUSE Table Created Earlier                                                    #
#----------------------------------------------------------------------------------------------#

# Define The INSERT Statement To Be Used To Add Data To The AIRLINE_DELAY_CAUSE Table
sqlStatement = "INSERT INTO airline_delay_cause"
sqlStatement += " VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?,"
sqlStatement += " ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

# Prepare The INSERT Statement Just Defined By Calling The ibm_db.prepare() API
print("\nPreparing the following SQL statement for repetitive execution:\n\n\"" + sqlStatement
     + "\"")
try:
    preparedStmt = ibm_db.prepare(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to prepare the SQL statement specified.\n")
    pass

# If The SQL Statement Could Not Be Prepared, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if preparedStmt == None:
    stmtErrorMsg = ibm_db.stmt_errormsg()
    print(stmtErrorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    print()

#----------------------------------------------------------------------------------------------#
# Retrieve Data From The pandas DataFrame Populated Earlier And INSERT It Into The             #
# AIRLINE_DELAY_CAUSE Table                                                                    #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating Data Is Being Copied To The AIRLINE_DELAY_CAUSE Table
print("Populating the AIRLINE_DELAY_CAUSE table with data retreived from the ")
print("file \"Airline_Delay_Cause.csv\".\n")

# Initialize All Counter Variables Used
commitCount = 0
rowCount = 0

# For Every Row (Record) That's Read From The pandas Dataframe, ...
for index, row in df_data_1.iterrows():

    # Copy The Data Value For Each Column Into Parameter Marker Variables (Assign Missing
    # Numerical Values The Value 0.00 And Make Any Data Type Changes Necessary)
    c1 = int(row['year'])
    c2 = int(row['month'])
    c3 = str(row['carrier'])
    c4 = str(row['carrier_name'])
    c5 = str(row['airport'])
    c6 = str(row['airport_name'])

    tempValue = str(row['arr_flights']).upper()
    c7 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['arr_del15']).upper()
    c8 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['carrier_ct']).upper()
    c9 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['weather_ct']).upper()
    c10 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['nas_ct']).upper()
    c11 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['security_ct']).upper()
    c12 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['late_aircraft_ct']).upper()
    c13 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['arr_cancelled']).upper()
    c14 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['arr_diverted']).upper()
    c15 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['arr_delay']).upper()
    c16 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['carrier_delay']).upper()
    c17 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['weather_delay']).upper()
    c18 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['nas_delay']).upper()
    c19 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['security_delay']).upper()
    c20 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    tempValue = str(row['late_aircraft_delay']).upper()
    c21 = 0.00 if tempValue == "NAN" else Decimal(tempValue)

    # Build A Tuple Containing All Of The Values Needed For The Parameter Markers Used In The
    # INSERT Statement That Was Prepared Earlier
    dataRecord = (c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, c14, c15, c16, c17,
                  c18, c19, c20, c21)

    # Execute The INSERT Statement By Calling The ibm_db.execute() API (Provide The Current
    # Data Record Tuple As An Input Varaiable That Contains Parameter Marker Values)
    try:
        retCode = ibm_db.execute(preparedStmt, dataRecord)
    except Exception:
        print("\nERROR: Unable to execute the prepared INSERT statement.\n")
        pass

    # If The Prepared INSERT Statement Could Not Be Executed, Display A Detailed Error
    # Message And Exit (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error
    # Information)
    if retCode == False:
        stmtErrorMsg = ibm_db.stmt_errormsg()
        print(stmtErrorMsg + "\n")
        exit(-1)

    # Otherwise, Increment The Row And COMMIT Counters
    else:
        commitCount = commitCount + 1
        rowCount = rowCount + 1

    # If 5000 Records Have Been Inserted, Commit The Transaction
    if (commitCount == 5000):

        # Make The Changes Just Made To The Database Permanent By Calling The
        # ibm_db.commit() API
        print("Committing changes made to the database ... ", end="")
        resultSet = False
        try:
            resultSet = ibm_db.commit(connectionID)
        except Exception:
            print("\nERROR: Unable to commit the previous transaction.")
            pass

        # If The Commit Operation Could Not Be Performed, Display An Error
        # Message And Exit (Call The ibm_db.conn_error() API To Obtain
        # Detailed Error Information)
        if resultSet == False:
            connErrorMsg = ibm_db.conn_error(connectionID)
            print(connErrorMsg + "\n")
            exit(-1)

        # Otherwise, Display A Status Message And Reset The COMMIT Counter
        else:
            print("Done! 5000 rows inserted.")
            commitCount = 0

#----------------------------------------------------------------------------------------------#
# Commit Any Remaining Changes Made                                                            #
#----------------------------------------------------------------------------------------------#

# Make All Changes Made To The Database Permanent By Calling The ibm_db.commit() API
print("\nCommitting remaining changes made to the database ... ", end="")
resultSet = False
try:
    resultSet = ibm_db.commit(connectionID)
except Exception:
    print("\nERROR: Unable to commit the previous operation.")
    pass

# If The Commit Operation Could Not Be Performed, Display An Error Message And Exit
# (Call The ibm_db.conn_error() API To Obtain Detailed Error Information)
if resultSet == False:
    connErrorMsg = ibm_db.conn_error(connectionID)
    print(connErrorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("Done!\n")
    print("Records processed: " + str(rowCount) + "\n")
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Turn AUTOCOMMIT Behavior Back ON                                                             #
#----------------------------------------------------------------------------------------------#    

# Turn AUTOCOMMIT Behavior ON
print("\nTurning AUTOCOMMIT behavior ON ... ", end="")
try:
    setRetCode = ibm_db.autocommit(connectionID, ibm_db.SQL_AUTOCOMMIT_ON)
except Exception:
    print("\nERROR: Unable to turn AUTOCOMMIT behavior ON.\n") 
    pass
    
# If AUTOCOMMIT Behavior Could Not Be Turned ON, Display An Error Message And Exit
# (Call The ibm_db.conn_error() API To Obtain Detailed Error Information)
if setRetCode == False:
    connErrorMsg = ibm_db.conn_error(connectionID)
    print(connErrorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done"
else:
    print("Done!\n")

AUTOCOMMIT behavior is currently ON; turning it OFF ... Done!

****************************************************************************************************

Preparing the following SQL statement for repetitive execution:

"INSERT INTO airline_delay_cause VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

Done!

****************************************************************************************************

Populating the AIRLINE_DELAY_CAUSE table with data retreived from the
file "Airline_Delay_Cause.csv".

Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.
Committing changes made to the database ... Done! 5000 rows inserted.

Committing remaining changes made to the database ... Done!

Records processed: 80104

****************************************************************************************************

Turning AUTOCOMMIT behavior ON ... Done!

# Section 3. Clean up the lab environment

## Step 1: Remove the AIRLINE_DELAY_CAUSE table created earlier from the database
### Overview:
While it is important to be able to create and modify objects in a Db2 database, it is equally important to be able to delete objects when they are no longer needed. Most user-defined objects can be removed from a Db2 database by executing some form of the <b>DROP</b> SQL statement. The basic syntax for this statement is:

<b>DROP [<i>ObjectType</i> ]&ensp; [ <i>ObjectName</i> ]<br></b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ObjectType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the type of object that is to be deleted (dropped).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ObjectName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the object that is to be deleted (dropped).</td>
    </tr>
</table>

Thus, if you wanted to delete a table named <b>SALES</b>, you could do so by executing a <b>DROP</b> statement that looks like this:

<code>DROP TABLE sales</code>

It is important to keep in mind that when an object is dropped, its removal may affect other objects that are dependant upon its existence. (For instance, if a table a view is based on is dropped, the view will no longer be valid.) In some cases, when an object is dropped, all objects that are dependent upon the object are dropped as well (for example, when a table is dropped any indexes that have been defined for the table are also dropped). In other cases, an object can <i><u>only</u></i> be dropped after all other objects that are dependent upon its existence have been deleted.

<div class="alert alert-block alert-warning">
    <b>IMPORTANT:</b> Built-in objects, such as system catalogs and views, cannot be removed with a <b>DROP</b> statement.
</div>

### Execute the code:<br>
The code in the next cell drops (removes) the <b>AIRLINE_DELAY_CAUSE</b> table that was created earlier.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> Do <b><i><u>NOT</u></i></b> execute the code in this cell if you plan to run the <b>Airline_Delay_Analysis</b> Jupyter Notebook. Otherwise, the code in that notebook will not execute correctly.
</div>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Drop The AIRLINE_DELAY_CAUSE Table That Was Created Earlier                                  #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information

# Define The DROP Statement To Be Executed
sqlStatement = "DROP TABLE airline_delay_cause"

# Execute The DROP Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
resultSet = False
print("\nExecuting the following SQL statement: \"" + sqlStatement + "\" ... ", end="")
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")
    pass

# If The DROP Statement Could Not Be Executed, Display A Detailed Error Message
# (Call The ibm_db.stmt_errormsg() API To Obtain Error Message Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")

# Otherwise, Print "Done" And Continue
else:
    print("Done!")

# Add A Blank Line To The End Of The Report
print()

## Step 2: Query the system catalog to confirm the AIRLINE_DELAY_CAUSE table has been deleted
### Overview:
As we saw earlier, you can obtain a list of the tables and views that have been defined in a database by querying the system catalog view named <b>SYSCAT.TABLES</b>. Now that the <b>AIRLINE_DELAY_CAUSE</b> table has been deleted, let's query this system catalog view to confirm the table no longer exists.

### Execute the code:
The code in the next cell queries the <b>SYSCAT.TABLES</b> view and attempts to return a list of all user-defined tables whose name begins with the characters "<b>AIR</b>". If the <b>DROP</b> statement executed in the previous step was successful, the table named <b>AIRLINE_DELAY_CAUSE</b> should not appear in the query results.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [9]:
#----------------------------------------------------------------------------------------------#
# Query The Database System Catalog                                                            #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
columnHeaders = ("TABNAME", "COLCOUNT")         # Result Set Column Headers Tuple
columnWidths = (25, 8)                          # Result Set Column Widths Tuple
retCode = True                                  # Return Code

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"       # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TABNAME LIKE 'AIR%'"    # For All Tables Whose Name Begins With 'AIR'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

Executing the following SQL statement:

"SELECT TABNAME, COLCOUNT FROM SYSCAT.TABLES WHERE TABNAME LIKE 'AIR%'"

Query results:

TABNAME                    COLCOUNT
-------------------------  --------
AIRLINE_DELAY_CAUSE              21
AIRLINE_DELAY_CAUSE_TOTAL        21

Number of records (rows) found: 2

## Step 3: Terminate the database connection
### Overview:
When a database connection is established, it remains in effect until it is explicitly terminated or until the application that established the connection ends. That said, it is good programming practice to explicitly terminate any database connections that are open before ending an application returning control to the operating system. While this is typically done as part of the "exit and cleanup" work of an application, it can also be done any time an error is raised that forces an application to terminate prematurely.

### Execute the code:<br>
The code in the next cell terminates the Db2 database connection established earlier and returns control to the operating system.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [10]:
#----------------------------------------------------------------------------------------------#
# Attempt To Close The Db2 Database Connection That Was Opened Earlier                         #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
retCode = 0                                     # Return Code
errorMsg = ""                                   # Detailed Error Information

# If A Db2 Database Connection Exists, Print A Status Message And Close It By Calling
# The ibm_db.close() API
if not connectionID == None:
    print("\nDisconnecting from the \'" + dbName + "\' database ... ", end="")
    try:
        retCode = ibm_db.close(connectionID)
    except Exception:
        print("\nERROR: Unable to disconnect from the " + dbName + " database.")
        pass

    # If The Db2 Database Connection Was Not Closed, Display An Error Message And Exit
    if retCode == False:
        errorMsg = ibm_db.conn_error(connectionID)
        print(errorMsg + "\n")
        exit(-1)

    # Otherwise, Complete The Status Message
    else:
        print("Done!\n")

# Return Control To The Operating System
exit()

Disconnecting from the 'MY_DB' database ... Done!

## This concludes this portion of the lab.